
@import url('https://fonts.googleapis.com/css2?family=Volkhov&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
  margin: 0;
  padding: 0;

}
.container{
  max-width: 1281px;
  margin: auto;
}
@media (max-width:1281px) {
  .container{
    margin: auto 1rem;
  }
}
.flex{
  display: flex;
  flex-wrap: wrap;
}
.show{
  display: block !important;
}
.ContentSpaceBetween{
  justify-content: space-between;
}
/*header*/
header{
  margin: 2rem 0;
  position: relative;
  font-family: 'Volkhov', serif;
}
header h1{
  color: #484848;
  font-size: 52px;
  font-weight: normal;
  margin: -7px 0;
}
@media (max-width: 350px) {
  header h1{
    font-size: 32px;
    margin-top: 1px;
  }
}
header ul{
  list-style: none;
  display: flex;
  font-size: 16px;
  padding: 0;
  margin: 0;
}
header ul li{
  height: 56px;
  width: 152px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
header ul li:last-child{
  background: #000;
  color: #fff;
}
header ul li a{
  cursor: pointer;
}
header ul li a:hover{
  color: darkred;
}
.hamburger {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #fff;
  border-radius: 14px;
}

.hamburger-init {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  cursor: pointer;
  outline: none;

}

.menu {
  width: 100%;
  height: 62%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.menu .bar1,
.menu .bar2,
.menu .bar3 {
  width: 18.5px;
  height: 2.4px;
  background: #000;
  transition: all .3s;
  border-radius: 2px;
}

.hamburger-init:checked + .menu .bar1 {
  transform: translateY(7.8px) rotate(44deg);
}

.hamburger-init:checked + .menu .bar2 {
  opacity: 0;
}

.hamburger-init:checked + .menu .bar3 {
  transform: translateY(-9px) rotate(-45deg);
}
.MenuBtn{
  display: none;
}
@media (max-width:1281px) {
  header ul li{
    width: 125px;
  }
}
@media (max-width:992px) {
  header ul{
    display: none;
    position: absolute;
    right: 0;
    top: 75px;
    background: white;
    width: 100%;
    margin: auto;
    border-top: 1px solid;
  }
  .MenuBtn{
    display: block;
    margin: auto 0;
  }
  header ul li{
    width: 100%;
  }
}
/*header*/
/*banner*/
.banner{
  font-family: 'Poppins', sans-serif;
}
.banner div.rightBanner , .banner div.leftBanner{
  background: #E0E0E0;
  width: 392px;
  display: flex;
  align-items: end;
  justify-content: center;
  border-radius: 10px;
}
.banner h1{
  font-size: 91px;
  color: #484848;
  margin: 0;
  text-align: center;
}
.banner h2{
  font-size: 187px;
  margin: 0;
  font-weight: 600;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  color: white;
  line-height: 80%;
  text-align: center;
}
.banner h6{
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  margin: 1.85rem 0 0;
}
.banner a{
  background: #000;
  color: #fff;
  text-decoration: none;
  width: 207px;
  text-align: center;
  padding: 16px 0;
  border-radius: 10px;
  font-size: 16px;
  display: block;
  margin: 1rem auto 2rem;
  box-shadow: 0px 3px 4px #808080e0;
}
.banner div img{
  max-width: 100%;
  height: auto;
}
@media (max-width: 1290px){
  .banner div.rightBanner , .banner div.leftBanner{
    max-width: 30%;
  }
}
@media (max-width: 1200px){
  .banner{
    display: grid;
    grid-template-areas: auto auto;
    grid-template-rows: auto auto;
    justify-content: space-around;
  }

  .banner div.leftBanner{
    display: inline-flex;
    grid-row: 1;
    grid-column: 1;
      width: 100%;
      max-width: 100%;
      height: 47%;
  }

  .banner div.centerBanner{

    display: inline-flex;
    flex-direction: column;
    grid-row: 1;
    grid-column: 2;
  }

  .banner div.rightBanner{
    height: fit-content;
    display: inline-flex;
    grid-row: 1;
    grid-column: 1;
    align-self: end;
    width: 100%;
    max-width: 100%;
    height: 47%;
  }
  .banner div img{
    max-width: 100%;
    height: -webkit-fill-available;
  }
}
@media (max-width: 880px) {
  .banner h1{
    font-size: 56px;
  }
  .banner h2 {
    font-size: 120px;
  }
  .banner div.centerBanner img{
    width: 80%;
    margin: auto;
  }
}
@media (max-width: 650px) {
  .banner div.rightBanner ,  .banner div.leftBanner{
    display: none;
  }
  .banner div.centerBanner img{
    width: 100%;
  }
  .banner{
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 350px) {
  .banner h1{
    font-size: 38px;
  }
  .banner h2 {
    font-size: 80px;
  }
  .banner h6{
    font-size: 14px;
  }
  .banner a{
    width: 112px;
  }
}
/*banner*/